.carrousel {
    display: flex;
    height: 20rem;
    gap: 1rem;
    margin: 25px;
}

.carrousel>div{
    flex: 1;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: all 0.4s ease-in;
    position: relative;
}

iframe {
    border-radius: 1rem;
}

.carrousel div:hover {
    flex: 10;
}

.img1{
    background-image: url('../img/FAITE\ DU\ NUMERIQUE.png');
    background-size:cover;
    background-color: #13081F;
}

.img2{
    background-image: url('../img/pokemon.jpg');
    background-size:cover;
    background-color: #13081F;
}

.img3{
    background-image: url('../img/Projet\ Oméga.jpg');
    background-size:cover;
    background-color: #13081F;
}


.img4{
    background-size:cover;
    background-color: #13081F;
}


.img5{
    background-image: url('../img/BEGIN.bmp');
    background-size:cover;
    background-color: #13081F;
}

.img6{
    background-image: url('../img/whale.webp');
    background-size:cover;
    background-color: #13081F;
}

.img7{
    background-image: url('../img/Affiche\ Faites\ du\ Numérique.png');
    background-size:cover;
    background-color: #13081F;
}

.img8{
    background-image: url('../img/Affiche\ SAE\ 106.png');
    background-size:cover;
    background-color: #13081F;
}

.img9{
    background-image: url('../img/bored.jpeg');
    background-size:cover;
    background-color: #13081F;
}





.gtitre {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
  
  .gtitre h2 {
    color: #E5E7E4;
    background-color: #F27777;
    padding: 15px;
    border-radius: 25px;
    text-align: center;
  }

.carrousel>div>div {
    position: absolute;
    top: 75%;
    margin: 25px;
    background-color: #F27777;
    background-image: url(../img/circle-information.svg);
    background-size:contain;
    background-repeat: no-repeat;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7e400;
    transition: all 0.8s ease;
    white-space : nowrap;
    overflow-x: hidden;
    font-size: smaller;

}

.carrousel>div:hover div{
    width: 90%;
    color: #E5E7E4;
}

.img1:hover div::after{
    content: "2022 - Création d'un Logo pour l'évènement \"Faîtes du Numérique\" à Plougrescant.";
}

.img2:hover div::after{
    content: "2022 - création d'un site de gestion de collection de Pokémons en PHP";
}

.img3:hover div::after{
    content: "2022 - Production Graphique en Isométrie";
}

.img4:hover div::after{
    content: "2022 - Réalisation d'un tutoriel sur Fairlight dans Davinci Resolve";
}

.img5:hover div::after{
    content: "2020 - Réalisation de mon EP de musique électronique";
}

.img6:hover div::after{
    content: "2021 - Remix d'un chant de baleine pour un concour de remix";
}

.img7:hover div::after{
    content: "2022 - Création d'une affiche pour l'évènement \"Faîtes du Numérique\" à Plougrescant.";
}

.img8:hover div::after{
    content: "2022 - Création d'un entreprise fictive et d'une affiche pour de la prévention sur les bons usages de l'eau";
}

.img9:hover div::after{
    content: "2022 - Remix pour un client Fiverr publié sur Spotify";
}

@media (max-width: 1200px){
 .carrousel {
    flex-direction: column;
    height: 2000px;

 }

 .carrousel div{
    height: 100rem;
 }

 .carrousel div:hover {
    flex: 1;
}

}