@media (min-width: 1200px) {



    .nom_responsive {
        display: none;
    }

    .theohervediv h1 {
        display: flex;
    }

    @keyframes rondrouge {

        from {
            transform: rotate(45deg);
            border-radius: 150px;
        }

        to {
            transform: rotate(0deg);
            border-radius: 225px;
        }

    }



    .grosblocvert {
        width: 1200px;
        max-width: 100%;
        height: 1200px;
        border-radius: 190px;
        background-color: #177373;
        transform: rotate(-45deg);
        margin-left: 200px;
        z-index: 1;
        display: flex;
        align-items: start;
        justify-content: start;
    }

    /* élements visuels */


    .rondrougehaut {
        display: flex;
        position: absolute;
        width: 50vh;
        height: 50vh;
        border-radius: 500px;
        background-color: #F27777;
        left: 150vw;
        top: 48vh;
        z-index: 2;
        border: 15px solid #E5E7E4;
    }

    /* gestion des elements du haut de la page home  */


    .infodiv {
        margin-left: 10vw;
    }

    .theohervediv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10vw;
    }

    .theoherve {
        font-size: 9em;
        font-weight: bold;
        color: #177373;
    }

    .herve {
        position: relative;
        margin-left: -10px;
    }

    .herve h1 {
        position: absolute;
        font-size: 9em;
        font-weight: bold;
        color: #E5E7E4;
        top: 395px;
        margin-left: 60px;
    }

    .hometop img {
        height: 75vh;
        width: auto;
    }

    .hometop {
        display: flex;
        flex-direction: row;
        margin-top: 10vh;
        margin-left: 40px;
    }

    .imgdiv {
        position: relative;
    }

    .blocrougequibouge {
        position: absolute;
        transform: rotate(45deg);
        width: 45vh;
        height: 45vh;
        margin-left: 3vh;
        border-radius: 150px;
        background-color: #F27777;
        top: 0;
        z-index: -1;
        animation: rondrouge 3000ms ease-in-out 1ms infinite alternate;

    }

    .maintitle {
        position: absolute;
        left: 28vw;
        margin-top: -400px;

    }

    .maintitle p {
        width: 400px;
        margin-bottom: 150px;
        font-weight: 500;
        margin-left: 20px;
    }

    .divtxt {
        margin-top: -425px;
    }

    .hometop button {
        width: 100px;
        height: 30px;
        color: #E5E7E4;
        font-weight: 700;
        border: 0px;
        background-color: #F27777;
        border-radius: 10px;
        margin-right: 60px;
        margin-left: 20px;
        transform: scale(1);
        transition: all 0.25s;
    }

    .hometop button:hover {
        color: #F27777;
        background-color: #E5E7E4;
        transform: scale(1.75);
    }



    .homebottom {
        width: 100%;
        height: 400px;
        background-color: #177373;
        margin-top: 250px;
        margin-bottom: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .homebottom div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 25%;
        margin: 5%;
    }

    .homebottom h2 {
        color: #E5E7E4;
    }

    .homebottom p {
        color: #E5E7E4;
        line-height: 1.5em;
    }

    .barrerouge {
        position: absolute;
        border-radius: 0px;
        width: 345vh;
        height: 200px;
        left: -15vh;
        background-color: #F27777;
        transform: rotate(110deg);
        z-index: -2;
    }

    .CV button {
        background-color: #177373;
        margin-top: 40px;
    }

    .CV button:hover {
        color: #177373;
    }
}

@media (max-width: 1200px){

    .nom_responsive {
        display: flex;
    }

    .theohervediv h1 {
        display: none;
    }

.imgdiv img {
    height: 50vh;
    width: auto;
}

.infodiv {
    margin-top: 10vh;
}
 
.hometop {
    display: flex;
    flex-wrap: wrap;
}

.divtxt {
    width: 350px;
}

.maintitle {
    margin-bottom: 50px;
}

.hometop {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* style des boutons */

.hometop button {
    width: 100px;
    height: 30px;
    color: #E5E7E4;
    font-weight: 700;
    border: 0px;
    background-color: #F27777;
    border-radius: 10px;
    margin-right: 60px;
    transition: all 0.25s;
}

.boutondiv {
    margin-top: 35px;
}

.hometop button:hover {
    color: #F27777;
    background-color: #E5E7E4;
    transform: scale(1.75);
}

.CV button {
    background-color: #177373;
    margin-top: 40px;
}

.CV button:hover {
    color: #177373;
}


.nom_responsive {
    color: #177373;
}

.homebottom {

    margin-bottom: 75px;
}

.homebottom h2, .homebottom p {
    color: #E5E7E4;
}

.homebottom div {
    background-color: #177373;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
}



}

/* Responsive format paysage */

@media (orientation: landscape) and (max-width: 1200px) {
    .hometop img {
        height: 100vh;
        width: auto;
    }
}